*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('iron.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px); 
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;

}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: black;
    border-bottom: 4px solid #019f55;
    text-shadow: 1px 1px 0 white,
    1px 1px  0 white,
    1px 1px  0 white,
    1px 1px  0 white;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    width: 50px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: green;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor:pointer;
}